:root {
  --brand-100: #333333;
  --brand-200: #ffffff;
  --brand-300: #f8fafc;
  --brand-400: #1a202c;
  --spacing-0: 0px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --font-primary: -apple-system, system-ui, Segoe UI, Roboto, sans-serif, Arial;
}